body{
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}
#navbar {
    position: fixed;
    min-width: 300px;
    border-right: solid;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 300px;
    border-radius: rgba(0, 22, 22, 0.4);
    margin-bottom: 10px;
    margin-right: 50px;

    
}
#main-doc{
    margin-left: 320px;
}
.nav-link{
    text-decoration: none;
    color: black;
    text-align: center;
    list-style: none;
}
#section_hello_div{
    background-color: #f7f7f7;
    padding-left: 10px;
    padding-right: 40px;

}
  .ul1{
    list-style: none;
  }
  #navhead{
    margin-left: 50px;
  }

  @media (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
}

